.singleImageWrapper {
  width: 100%;
  display: flex;

  padding: 20px;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  margin-top: 30px;
  border-radius: 20px;
}
.singleImage {
  height: 100%;
  width: 100%;

  object-fit: cover;
}
.singleImageContainer {
  flex: 1;
  height: 40vw;
}
.imageDate {
  margin-top: 10px;
}
.singleImageDescriptionContainer {
  flex: 1;

  padding: 10px 20px;
  color: white;
}
.readMoreBtn {
  background: transparent;
  outline: none;
  border: none;
  padding: 3px;
  color: skyblue;
  cursor: pointer;
  font-weight: 500;
}
.imageDescription {
  margin-top: 20px;
  letter-spacing: 3px;
  font-size: 12px;
}
.imageTitle {
  font-weight: 400;
}
.shareContainer {
  margin-top: 15px;
}
.sharesingle {
  margin-right: 10px;
}
.likeButton {
  outline: none;
  border: none;
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #ffffff;
  color: black;
  width: 120px;
}
.liked {
  color: crimson;
}
.heartIcon {
  margin-left: 12px;
  cursor: pointer;
  color: white;
  transition: all 1s ease-in-out;
}
.loader {
  color: white;
  height: 300px;
  width: 300px;
}
.loaderContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.loaderText {
  color: white;
  text-transform: uppercase;
  font-weight: 400;
}

/* responsive desgn */
@media screen and (max-width: 480px) {
  .singleImageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .singleImageContainer {
    flex: 60%;
    height: 100%;
    width: 100%;
  }
  .singleImage {
    max-height: 60vw;
    width: 100%;
  }
  .imageTitle {
    font-size: 20px;
    margin-top: 10px;
  }
}
