.headerWrapper {
  height: 95vh;
  background-size: cover;
  background-position: top;
  background-image: url(/public/images/nasa.jpg);
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  position: relative;
}
.headingContainer {
  position: absolute;
  color: antiquewhite;
  left: 42%;
  top: 45%;
}
.headingTitle {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px;
}
.headingSubtitle {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}
